/*-----Resets style starts here-------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {

    font-size: 14px;
    font-weight: 400;
    font-family: arial;

}

/*-----Resets style ends here-------*/

/*----- Common style starts here-------*/

.fleft {
float: left;
}

.fright {
float: right;
}

.clearfix:before,
.clearfix:after
{
    content: '';
    display: block;
    clear: both;
}
/*----- Common style ends here-------*/

/*-----Navigation bar style starts here-------*/

.primary-header{
    background-color: #000;
    height:100%;
    width: 100%;

}
.layout-container{
    width: 1000px;
    margin: auto;
}

.primary-header__logo__img{
    text-align: center;
}

.primary-header__nav__links{
    float: left;
    color: #fff;
    text-align: center;
    padding: 37px 15px 9px 15px;
    font-weight: 900;
    display:block;

}

.primary-header__nav__links:hover,
.primary-header__nav__links.active{
    background: url(images/arrow.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

/*-----Navigation bar style ends here-------*/